/* #F3EDC8 joli beige*/
body{
    background-color: #faf7e6;
}
img#navbar-brand-logo{
    width: 10vh;
}

#table-table{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
